body {
    background-color: #cfd8dc;
}

#thumbnail {
    background-color: white;
    border-radius: 50%;
    -moz-box-shadow:    inset 0 0 8px #000000;
    -webkit-box-shadow: inset 0 0 8px #000000;
    box-shadow:         inset 0 0 8px #000000;
}

#old_date, #new_date {
    font-weight: 500;
}